{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "plugins": ["jest", "react", "eslint-plugin-import", "react-hooks", "@typescript-eslint"],
  "rules": {
    "brace-style": "error",
    "camelcase": ["error", {"properties": "never"}],
    "curly": "error",
    "linebreak-style": ["error", "unix"],
    "no-console": "warn",
    "no-empty": "off",
    "no-multiple-empty-lines": "error",
    "no-throw-literal": "error",
    "prefer-arrow-callback": "error",
    "react/prop-types": [0],
    "no-unused-vars": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn", {
        "additionalHooks": "(useRecoilCallback|useRecoilTransaction_UNSTABLE)"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "window.ethereum": "readonly",
    "NodeJS": true
  }
}
